{
    "semi": false,
    "singleQuote": true,
    "tabWidth": 2,
    "trailingComma": "es5",
    "printWidth": 100,
    "bracketSpacing": true,
    "jsxSingleQuote": true,
    "endOfLine": "auto",
    "quoteProps": "as-needed"
}
